gh.fredkiss.dev {
    root * /var/www/gh-next
    # Reverse proxy to localhost:8988
    reverse_proxy 127.0.0.1:8988 {
        header_up Host {http.request.host}
    }

    # Logging
    log {
        output file /var/log/caddy/gh.access.log
    }
}