gh.local {
    reverse_proxy / :3001 {
        header_up Host {http.request.host}
    }

    handle_path /_next/static/* {
        root * ./.next/static/
        try_files {path} {path}/ /index.html
        file_server
        header Cache-Control "max-age=31536000"
    }

    @staticFiles path *.svg *.ico *.png
    handle @staticFiles {
        root * ./public
        file_server
        header Cache-Control "max-age=31536000"
    }

    handle /robots.txt {
        root * ./public
        file_server
    }
}
