SESSION_SECRET="kYwwXf4rcQCPYokMN8DQJyLJYy9wxVQL"
TURSO_DB_TOKEN="<your-turso-db-token>"
TURSO_DB_URL="<your-turso-db-url>"
GITHUB_CLIENT_ID=
GITHUB_REDIRECT_URI="http://localhost:3000/api/auth/callback"
GITHUB_SECRET=
GITHUB_PERSONAL_ACCESS_TOKEN="<github-app-token>"
REDIS_HTTP_URL="http://127.0.0.1:6380"
REDIS_HTTP_USERNAME="user"
REDIS_HTTP_PASSWORD="password"
KV_PREFIX="__gh_issues_next__"
NEXT_PUBLIC_VERCEL_URL="localhost:3000"